/**
 * @file
 * Stark layout method
 *
 * To avoid obscuring CSS added to the page by Drupal or a contrib module, the
 * Stark theme itself has no styling, except just enough CSS to arrange the page
 * in a traditional "Header, sidebars, content, and footer" layout.
 *
 * This layout method works reasonably well, but shouldn't be used on a
 * production site because it can break. For example, if an over-large image
 * (one that is wider than 20% of the viewport) is in a sidebar, the entire
 * #main content can shift completely below the sidebar.
 */
 /*------- TYPOS CUSTOM ---------------*/
@font-face {
    font-family : "Arista";
    src: url(../typos/Arista2.0_light.eot); /* IE */
    src: local("Arista"), url(../typos/Arista2.0_light.ttf) format('truetype');/* non-IE */
}
/*------- FIN TYPOS CUSTOM ---------------*/
/*------- COULEURS DE BASE POUR CSS---------------∕∕
rouge #E2001A
rose #E2007A
orange #F29400
bleu #00AAD2
vert #C8D215
jaune #F8E91B
violet #93117E
gris clair #9C9E9F
gris fonce #606171
orange fonce logo #DE603A
∕∕------- FIN COULEURS ---------------*/

html {
 margin: 0;
 padding: 0;
}


body {
	margin: 0;
	padding: 0;
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 12px;
	background-color: #FFF;
	color: #000;
}

 /*------------------------------------------------------*
  *--------    CSS BLOCS     						 ----*
  *------------------------------------------------------*/


#general{
	margin:0 auto;
	padding:0;
	width:100%;
}

/*Haut de page  HEADER*/

#header{
	margin:0 auto;
	padding:0;
	width:990px;
	height:auto;
	background-color:transparent;
}

/*Contenu de page  CONTENT */

#contentPage {
	margin:0 auto;
	padding:0;
	width: 990px;
	background-color:transparent;
}
#content-inner,#left-content,#right-content{
height: 100%;
}
/*//////SOUS ENTETE/////*/
#content-top{
	margin:0 auto;
	padding:5px;
	width:98%;
	height:auto;
	background: transparent;
}
#content-top-node{
    width: 900px;
    background-color: #999;
    margin: 0 auto;
    padding: 5px;  
}	

#views_slideshow_cycle_teaser_section_Defilant_accueil-block_1{
    margin: 0 auto;
    width: 98%;//inutile
}
/*/// debut des colonnes ///*/
#left-content{
	float:left;
	position:relative;
	background-color:transparent;
	width:200px;
	left:0px;
}

/*/// partie de droite ///*/
#right-content{
	float:right;
	position:relative;
	background-color:#FF66CC;
	width:200px;
	right:0px;
}
/*inner content*/
#content-inner{
width:590px;
margin:0 auto;
float:left;
background-color:transparent;
}
/*///    partie du centre   ///*/
#middle-content{
	float:left;
	position:relative;
	background-color:transparent;
	width:590px;
	padding:5px;
}
.swftools-wrapper wijering-imagerotator{
margin: 0 auto;
width: auto;
border: 1px solid #000;
}
/*PIED DE CONTENU*/
#content-bottom{
background: #DFDFDF;
width:95%;
margin: 0 auto;
}
#content-bottom p{
    text-align: center;
    
}
#content-bottom a{
    color: #E2007A;
    text-decoration: none;
    padding: 2px;
}
#content-bottom a:hover{
    background: #E2007A;
    color: white;
}

/*Bas de page  FOOTER*/

#footer{
	margin:0 auto;
	padding:10px 0;
	width:990px;
	background:url("/sites/all/themes/CyranoD6_MG/images/bg_footer.jpg") no-repeat scroll right bottom white;
	
	color: black;
}
#bloc_stats{
    color:red;
    margin:0 auto;
    width:600px;
}
/*--------------------------------------------
---- LAYOUT POUR PAGE.TPL ET NODE.TPL OVERRIDE
**********************************************
-------------- GENERIQUE --------------------*/

/*//////////////////////\\\\\\\\\\\\\\\\\\\\\\
********** LAYOUT NODE.TPL OVERRIDE **********
\\\\\\\\\\\\\\\\\\\\\\\//////////////////////*/
/*//////////////// COLONNE 1 \\\\\\\\\\\\\\\\*/
#colonne-1{
   float: left;
    margin: 0;
    padding: 0;
}
.col1_layout_215_520_235{
    width: 215px
}
.col1_layout_200_590_200{
    width: 200px;
}
.col1_layout_330_all{}
.col1_layout_18_56_25{}
.col1_layout_295_385_295{
    width: 295px;
}

/*//////////////// COLONNE 2 \\\\\\\\\\\\\\\\*/
#colonne-2, #middle-content-override{
    float: left;
    margin: 0;
    padding: 0;

}
.col2_layout_215_520_235{
    width: 520px;
}
.col2_layout_200_590_200{
    width: 575px;
}
.col2_layout_330_all{}
.col2_layout_18_56_25{}
.col2_layout_490_all{
       width: 485px;
    background: transparent;
    height: 100%;
    display: table-column;
}
.col2_layout_295_385_295{
    width: 385px;
}
/*//////////////// COLONNE 3 \\\\\\\\\\\\\\\\*/
#colonne-3{
    float: left;
    margin: 0;
    padding: 0;
}
.col3_layout_215_520_235{
    width: 235px
}
.col3_layout_200_590_200{
    width: 200px;
}
.col3_layout_330_all{}
.col3_layout_18_56_25{}
.col3_layout_490_all{
       width: 485px;
    background: transparent;
    height: 100%;
    display: table-column;
}
.col3_layout_295_385_295{
    width: 295px;
}
/*\\\\\\\\\\\\\//////////////////
---------------------------------------------------
LAYOUT POUR PAGE.TPL PAGE LYCEE
---------------------------------------------------*/
#content-inner-page-lycee{
    width: auto;
    margin:0;
    float:left;
    background-color:transparent;
}
#middle-content-page-lycee  {
    width: auto;
    padding: 5px;
    float: left;

}
/*---------------------------------------------------
LAYOUT POUR NODE.TPL PAGE LYCEE
---------------------------------------------------*/

.pageLycee_col1{
    
}
.pageLycee_col2{
   
     border-right: 0px solid #F29400;
     border-left: 1px solid #91127D;
}
.pageLycee_col3{
   
}
/*\\\\\\\\\\\\\//////////////////
---------------------------------------------------
LAYOUT POUR PAGE.TPL FICHE FORMATION
---------------------------------------------------*/
#content-inner-page-ficheform{
    width: auto;
    margin:0;
    float:left;
    background-color:transparent;
}
#middle-content-page-ficheform  {
    width: auto;
    padding: 5px;
    float: left;

}
/*---------------------------------------------------
LAYOUT POUR NODE.TPL FICHE FORMATION
---------------------------------------------------*/

.pageficheform_content_col1{
  

}
.pageficheform_content_col2{
  /*border-left: 1px solid #91127D;*/
}
/*\\\\\\\\\\\\\//////////////////
---------------------------------------------------
LAYOUT POUR PAGE.TPL CONTENU VDL
---------------------------------------------------*/
#content-inner-page-VDL{
    width: auto;
    margin:0;
    float:left;
    background-color:transparent;
}
#middle-content-page-VDL  {
    width: auto;
    padding: 5px;
    float: left;

}
/*\\\\\\\\\\\\\//////////////////
---------------------------------------------------
LAYOUT POUR PAGE.TPL PAGE POLE-FILIERES
---------------------------------------------------*/
#content-inner-page-pole{
    width: auto;
    margin:0;
    float:left;
    background-color:transparent;
}
#middle-content-page-pole  {
    width: auto;
    padding: 5px;
    float: left;
}
#global-content-node{
    width: 100%;
    display: block;
}
/*\\\\\\\\\\\\\//////////////////
---------------------------------------------------
LAYOUT POUR PAGE.TPL WEBFORM
---------------------------------------------------*/

/*inner content*/
#content-inner-webform{
    width:auto;
    margin:0 auto;
    float:left;

}
/*///    partie du centre   ///*/
#middle-content-webform{
	float:left;
	position:relative;
	background-color:transparent;
	width:auto;
	padding:5px;
}
/*---------------------------------------------------
LAYOUT POUR NODE.TPL WEBFORM
---------------------------------------------------*/

.webform{
     border-right: 0px solid #ADC821;
     border-left: 1px solid #E2007A;
     
}
.webform table{
    margin: 5px;
}
